<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>
{%block content%}
<body style="background-color: darkgrey;">

    <div class="container"><div style="text-align: center;margin-top: 1cm;">
        <h2>Enter Comment</h2>
        <p>Enter your name and your suggestion below.:</p></div>
        <form method="post" style="padding-left:500px">
         {%csrf_token%}
            {{form.as_p}}
            <input style="background-color: #FF3333; color:#FFFFFF" type="submit" name ="addcomment" value ="Save">
        </form>

</body>
</html>
{%endblock%}