
{%block contents%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Example</title>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>

    <div class="container">
        <h1>Become an official Yid!</h1>
       <form method="POST">
           {%csrf_token%}
           {{form.as_p}}
        <p>
            By creating an account you agree to our <a href="#">Terms & Privacy</a>
        </p>
        <button type="submit" name='signup' value="Signup">Register</button>
       </form>>


    </div>


</body>
</html>
{%endblock%}